<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CBPLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <CBPLauncher.Properties.Settings>
            <setting name="DefaultCBP" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CBPUnloaded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseWorkshopFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CBPLoaded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NoWorkshopFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RoNPathSetting" serializeAs="String">
                <value>no path</value>
            </setting>
            <setting name="UnloadWorkshopToo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CBPArchive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UsePrerelease" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OldFilesRenamed" serializeAs="String">
                <value>False</value>
            </setting>
        </CBPLauncher.Properties.Settings>
    </userSettings>
</configuration>
